* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-weight: 400; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para leitura, tendo uma melhor qualidade*/
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px; /*Ajustando espaçamento*/
    color: #fff;
    font-family: 'Raleway';
    font-size: 320%;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;

}

h2 {
    margin-top: 0;
    margin-bottom: 40px; /*Ajustando espaçamento*/
    font-family: 'Montserrat';
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;

}

.title-2 {
    color: #555;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center; /*Centralizando o texto*/
    margin-bottom: 30px;
    width: 70%; /*ocupa 70%, sobra 30%*/
    margin-left: 15%; /*15% para cada lado*/

}

h3 {
    font-size: 150%;
    font-family: 'Raleway';
    text-transform: uppercase;
    word-spacing: 2px;
    text-align: center; /*Centralizando o texto*/
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}



h4 {
    font-size: 110%;
    text-align: center; /*Centralizando o texto*/
    margin-right: 20%; /*Centralizar*/
    margin-top: 10px;


}

h4:after {
    display: block;
    height: 2px;
    background-color: #43778e;
    content: " "; /*Conteúdo do item*/
    width: 100px; /*Comprimento do item*/
    margin: 0 auto; /*Centralizar*/
    margin-top: 10px;
    margin-bottom: 10px;
}



em{
    font-weight: 400;

}

.long-copy {
    line-height:145%;
    width: 70%; /*ocupa 70%, sobra 30%*/
    margin-left: 15%; /*15% para cada lado*/
}

.hero-text-box {
    position: absolute;
    width: 1000px; /*verificar se esse valor é adequado para seu monitor*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn-ghost {
    border: 1px solid #A9E5FE;
    color: #A9E5FE;
}

.btn-full {
    background-color: #A9E5FE;
    border: 1px solid #A9E5FE;
    color: #fff;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    /*a transição da cor do fundo, da borda e da fonte deve demorar 0.2 segundos*/
}

.btn-full:link,
.btn-full:visited  {
    background-color: #43778e;
    border: 1px solid #43778e;
    color: #fff;
    margin-right: 15px; /*espaçamento entre os botões*/
}

.btn-ghost:link,
.btn-ghost:visited  {
    border: 1px solid #A9E5FE;
    color: #A9E5FE;
}

.btn:hover,
.btn:active {
    background-color: #608fa5;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #608fa5;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #608fa5;
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px; /*colocar um espaçamento acima da logo para baixar ela*/
    margin-left: 50px;
}

.main-nav {
    float: right;
    list-style: none; /*Se livra dos bullets - bolinhas pretas - marcadores*/
    margin-top: 55px; /*colocar um espaçamento acima da lista para baixar ela*/
    margin-right: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px; /*espaçamento entre os items da lista*/
}

.main-nav li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #A9E5FE;
}

ion-icon {
    font-size: 350%; /*Tamanho do ícone*/
    display: block;
    color: #e67e22; /*cor da fonte = cor do ícone*/
    margin-bottom: 10px; /*espaço entre o ícone e o título do feature*/
}

section {
    padding: 80px 0;
}
.box {
    padding: 1%; /*dá um pequeno espaçamento entre o conteúdo e o container.*/
    margin-left: 5%;

}

p {
    text-align: center;
}
.box p {
    font-size: 90%;
    line-height: 145%;
    margin-right: 15%;
    text-align: left;

}
.section-features .long-copy {
    margin-bottom: 30px;
}

.feat-img {
    width: 75%;
    height: auto;
    border-radius: 50%;
}